@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
	background-color:#b2d1ff;
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align:center;
    font-size:20px;
   
    color:black; 
}
h1 {
    
    font-size: 40px;
    color:black;
    text-transform: uppercase;
}

.submit {
     margin: 3px 0;
        height: 30px;
        width: 40%;
        color: #cfc9e1;
        background-color: #4a3b76;
        text-transform: uppercase;
        border: 0;
		text-align:center;
        border-radius: .3rem;
        letter-spacing: 2px;

        &:hover {
            animation-name: btn-hov;
            animation-duration: 550ms;
            animation-fill-mode: forwards;
        }
    }
}

.info{
    display: inline-block;
    
    clear: center;
    width: 250px;
    text-align: left;
}

.cards{
    
    display: inline-block;
    
    clear: center;
    width: 250px;
    text-align: left;
}

.foodItem{
    display: inline-block;
    
    clear: center;
    width: 250px;
    text-align: left;
}
